.login-page-wrapper {
    height: 1000px;
    width: 100%;
    // border: 1px solid red;
    display: flex;
}

.login-background-img {
    // background-image: url('https://images.unsplash.com/photo-1421338443270-0dde2463976a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2641&q=80');
    background-image: url('https://images.unsplash.com/photo-1490203715213-14b8ffa90c8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    
}

.login-form-wrapper {
    width: 600px;
    height: 200px;
    // border: 1px solid black;
    // transform: translate(10%,50%);
    margin: 100px auto;
    display: flex;
    justify-content: center;
    position: fixed;
}

.login-form-container {
    width: 100%;
    height: 175%;
    // border: 1px solid yellow;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}

.login-text {
    text-align: center;
}

.login-field {
    width: 450px;
    height: 35px;
    margin: 10px;
    border-radius: 10px;
}

.login-field.input {
    padding-left: 20px;
    font-size: 20px;
    
}

.login-field.submit {
    background: rgb(22, 82, 212);
    height: 45px;
    width: 475px;
    border-radius: 10px;
    font-size: 20px;
}

.login-field.submit:hover {
    background: #093e96;
}

.session-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    font-size: 20px;
    // text-decoration-line: none;
    border: 1px solid #cccccc;
    height:100%;
    width:95%;
    margin-left: 12px;
    border-radius: 7px;
}

.login-field2{
    height: 40px;
}
.session-submit:hover{
    background-color:gray;
}

