.search-containers{
    display: flex;
    height: 100%;
    width: 100%;
}

.map{
    width:100%;
    // border:1px solid green;
}

.post-section{
    // border:1px solid black;
    width: 50%;
    margin-left: 10px;
}

#map-container{
    width:100%;
    height: 100%;
}